.App {
  min-height: 100vh;

  background-image: #fff;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  box-shadow: inset;
}
.search-bar {
  border: none;
  width: 50%;
  padding: 10px;
}
.search-button {
  border: none;
  padding: 10px;
  background-color: violet;
  color: white;
}
.recipes {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
